<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="application/rss+xml" enabled="true" />
				<add mimeType="application/atom+xml" enabled="true" />
				<add mimeType="image/x-icon" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>

		<httpErrors existingResponse="PassThrough" errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" subStatusCode="-1" path="/notfound" responseMode="ExecuteURL" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" subStatusCode="-1" path="/error" responseMode="ExecuteURL" />
		</httpErrors>

		<directoryBrowse enabled="false" />
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="false" />

		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<staticContent>
			<!-- Set expire headers to 30 days for static content-->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
			<!-- use utf-8 encoding for anything served text/plain or text/html -->
			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".rss" />
			<mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
			<remove fileExtension=".atom" />
			<mimeMap fileExtension=".atom" mimeType="application/atom+xml; charset=UTF-8" />
			<remove fileExtension=".html" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
			<remove fileExtension=".handlebars" />
			<mimeMap fileExtension=".handlebars" mimeType="text/x-handlebars-template; charset=UTF-8" />
			<remove fileExtension=".xml" />
			<mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
			<!-- HTML5 Audio/Video mime types-->
			<remove fileExtension=".mp3" />
			<mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".ogg" />
			<mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
			<remove fileExtension=".ogv" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<remove fileExtension=".webm" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<!-- Proper svg serving. Required for svg webfonts on iPad -->
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
			<!-- HTML4 Web font mime types -->
			<!-- Remove default IIS mime type for .eot which is application/octet-stream -->
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
			<remove fileExtension=".ttc" />
			<mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".otf" mimeType="font/opentype" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".crx" />
			<mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
			<remove fileExtension=".xpi" />
			<mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
			<remove fileExtension=".safariextz" />
			<mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
			<!-- Flash Video mime types-->
			<remove fileExtension=".flv" />
			<mimeMap fileExtension=".flv" mimeType="video/x-flv" />
			<remove fileExtension=".f4v" />
			<mimeMap fileExtension=".f4v" mimeType="video/mp4" />
			<!-- Assorted types -->
			<remove fileExtension=".ico" />
			<mimeMap fileExtension=".ico" mimeType="image/x-icon" />
			<remove fileExtension=".webp" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<remove fileExtension=".htc" />
			<mimeMap fileExtension=".htc" mimeType="text/x-component" />
			<remove fileExtension=".vcf" />
			<mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
			<remove fileExtension=".torrent" />
			<mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
			<remove fileExtension=".cur" />
			<mimeMap fileExtension=".cur" mimeType="image/x-icon" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff" />
				<remove name="X-Powered-By" />
				<add name="X-Powered-By" value="suo" />

				<!--
				# E-TAGS
				E-Tags are actually quite useful in cache management especially if you have a front-end caching server
				such as Varnish. http://en.wikipedia.org/wiki/HTTP_ETag / http://developer.yahoo.com/performance/rules.html#etags
				But in load balancing and simply most cases ETags are mishandled in IIS; and it can be advantageous to remove them.
				This is simply done by overriding the default server header with an empty tag.
				See http://bytestopshere.wordpress.com/2009/02/02/disable-remove-etags-on-iis-6-to-improve-performance/

				<add name="ETAG" value="" />
				-->
				<add name="X-UA-Compatible" value="IE=edge" />
			</customHeaders>
		</httpProtocol>

		<rewrite>
			<rules>
				<!--

				Remove/force the WWW from the URL.
				Requires IIS Rewrite module http://learn.iis.net/page.aspx/460/using-the-url-rewrite-module/
				Configuration lifted from http://nayyeri.net/remove-www-prefix-from-urls-with-url-rewrite-module-for-iis-7-0

				NOTE* You need to install the IIS URL Rewriting extension (Install via the Web Platform Installer)
				http://www.microsoft.com/web/downloads/platform.aspx
				 
				<rule name="Remove WWW" stopProcessing="true">
				<match url="^(.*)$" />
				<conditions>
				<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
				</conditions>
				<action type="Redirect" url="http://example.com{PATH_INFO}" redirectType="Permanent" />
				</rule>
				
				-->
			</rules>
		</rewrite>

	</system.webServer>
</configuration>